<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto&family=Roboto+Mono:wght@500&family=Sawarabi+Gothic&display=swap" rel="stylesheet">

<div class="screen">
  <div class="menu">
    <img src="./img/logo-modified.png" alt="logo">
    <hr>
    <h3><%= user %></h3>
    <hr>
    <a href="/" class="btn-menu">
      <img src="./img/monitoring-icon.svg" alt="" class="menu-icon">
      Monitoramento</a>
    <a href="/logout" class="btn-menu btn-logout">Logout</a>
  </div>
  
  <div class="main">
    <div class="container add-ad">
      <!-- <div class="subsection subsection-addAd"> -->
        <h2 class="sec-title">Adicionar produtos</h2>
        <form class="add-ad">
          <div class="form-field">
            <label for="name">Nome do produto</label>
            <input type="text" id="name" name="name">
          </div>
          <div class="form-field">
            <label for="url">URL do anúncio</label>
            <input type="text" id="url" name="url">
          </div>
          <button class="btn btn-add-ad" type="submit">Adicionar</button>
        </form>
    </div>
    <div class="container ad-list">
        <div class="data-list"></div>
    </div>
    <div class="container chart-section">
      <div id="chartContainer">
        <canvas id="chart"></canvas>
      </div>
    </div>
    
    <div class="faded-background">
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="./index.js"></script>