<link rel="stylesheet" href="./index.css">

<div class="screen">
  <div class="menu">
    <img src="./img/logo-modified.png" alt="logo">
    <hr>
    <h3><%= user %></h3>
    <hr>
    <a href="/" class="btn-menu">
      <img src="./img/monitoring-icon.svg" alt="" class="menu-icon">
      Monitoramento</a>
    <a href="/logout" class="btn-menu btn-logout">Logout</a>
  </div>
  
  <div class="main">
    <div class="container add-ad">
      <!-- <div class="subsection subsection-addAd"> -->
        <h2 class="sec-title">Adicionar produtos</h2>
        <form class="add-ad">
          <div class="form-field">
            <label for="name">Nome do produto</label>
            <input type="text" id="name" name="name">
          </div>
          <div class="form-field">
            <label for="url">URL do anúncio</label>
            <input type="text" id="url" name="url">
          </div>
          <button class="btn" type="submit">Adicionar</button>
        </form>
    </div>
    <div class="container ad-list">
        <div>
          <h2 class="sec-title">Produtos monitorados</h2>
        </div>
        <div class="data-list"></div>
    </div>
    <div class="container chart-section">
      <!-- <div class="chart-container">
        <canvas id="chart"></canvas>
      </div> -->
      <div id="chartContainer">
        <canvas id="chart"></canvas>
      </div>
    </div>
    
    <div class="faded-background">
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="./index.js"></script>