* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #ddd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.main {
  /* overflow: auto; */
  display: grid;
  grid-template-areas:
    "ad-list add-ad"
    "ad-list chart-section";
  grid-template-columns: auto minmax(500px, 1fr);
  grid-template-rows: 250px 1fr;
  gap: 1rem;
  padding: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(204, 233, 229);
  text-align: center;
  background-color: rgb(44, 129, 118);
  padding: 1rem 0 0 0;
}

.container {
  padding: 0.5rem;
  /* border: 1px solid rgb(44, 129, 118); */
  border-radius: 0.5rem;
  background-color: rgb(157, 197, 187);
}

.add-ad {
  /* height: 250px; */
  grid-area: add-ad;
}

.ad-list {
  grid-area: ad-list;
}

.chart-section {
  grid-area: chart-section;
  /* overflow: hidden; */
  /* width: 400px; */
}

#chartContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.menu h3 {
  margin: 1rem;
}

.menu hr {
  width: 100%;
}

.menu img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.menu a .menu-icon {
  width: 50px;
  height: 50px;
}

.menu h2 {
  text-transform: uppercase;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: rgb(19, 66, 60);
}

.btn-menu {
  font-size: 1rem;
  color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
  background-color: rgb(52, 145, 132);
}

.btn-logout {
  background-color: rgb(201, 100, 97);
  color: rgb(51, 51, 51);
}

.btn-menu:hover {
  background-color: rgb(127, 180, 173);
  color: rgb(19, 66, 60);
}

.btn-logout:hover {
  background-color: rgb(155, 70, 67) !important;
}

.menu a:last-child {
  margin-top: auto;
}

.section-options {
  display: block;
}

.section-content {
  grid-template-columns: 450px 1fr;
}

.sec-title {
  margin-bottom: 1rem;
  text-align: center;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: rgb(112, 214, 180);
  outline: none !important;
  border: solid 1px rgb(19, 66, 60);
  color: 222;
  font-size: 1.1rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgb(67, 231, 209);
}

.btn-details {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
}

.add-ad {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-field {
  display: block;
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.form-field input {
  display: block;
  width: 100%;
  padding: 0.1rem;
  font-size: 1rem;
}

input:focus {
  outline: none !important;
  border: 1px solid rgb(44, 129, 118);
  box-shadow: 0 0 10px #719ece;
}

.card {
  display: flex;
  padding: 0.5rem;
  border: 1px solid #888;
  background-color: #eee;
}

.card img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .card-content h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card .card-content p {
  font-size: 0.9rem;
}

.btn-container {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.data-list {
  /* width: 100%; */
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.show {
  display: none;
}

.faded-background {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.prompt-plot {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60vw;
  height: 60vh; */
  z-index: 3;
  background-color: rgba(49, 94, 82, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: openDialog 0.5s forwards;
}

@keyframes openDialog {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 60vw;
    height: 60vh;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(44, 129, 118);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(44, 129, 118);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
